<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Order!</title>
</head>
<body style="width: 100%; margin: 0; padding: 0;background-color: #fff;">
    {% load humanize %}
    <table style="width: 600px; margin: 0 auto;  border: 1px solid #d4af37;">
        <tbody>
            <tr style="background-color: #fffdd0;">
                <th style="border-bottom: 1px solid #d4af37; padding: 20px 0px">
                    <img src="http://store.motiontalentafrica.co.ke/static/media/MTA.0336bcf8.svg" alt="">
                </th>
            </tr>
            <tr>
                <td style="padding: 20px">
                    
                    <h2 style="text-align: center">Order Recieved!</h2>
                    <p>
                        Dear Manager,
                    </p>
                    <p>An order <b>({{order.name}})</b> on the Motion Talent Africa Store has just been made by {{ order.user.first_name }} {{order.user.last_name}}, ({{order.user.email}}). Head over to the <a href="https://dashboard.motiontalentafrica.co.ke/" style="color: #d4af37">dashboard </a> to confirm the order.</p>
                    <p>The Payment mode is cash on delivery.</p>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px">
                    <table style="width: 100%; border: .5px solid #d4af37;background-color: #fffdd0; padding: 10px">
                        <tbody>
                            <tr>
                                <th style="width: 20%; border-bottom: 1px solid #d4af37; height: 30px;" align="left">Qty</th>
                                <th style="border-bottom: 1px solid #d4af37; height: 30px;" align="left">Item</th>
                                <th style="width: 30%; border-bottom: 1px solid #d4af37; height: 30px;" align="right">Price</th>
                            </tr>

                            {% for order in order_items %}
                                <tr style="height: 20px">
                                    <td style="height:30px; padding: 20px px; border-bottom: 1px solid #eee">{{order.quantity}}</td>
                                    <td style="height:30px; padding: 20px px; border-bottom: 1px solid #eee">{{order.product.name}}</td>
                                    <td style="height:30px; padding: 20px px; border-bottom: 1px solid #eee" align="right">{{order.buying_price|intcomma}}</td>
                                </tr>
                            {% endfor %}

                            <tr style="height: 20px">
                                <td style="height:30px; padding: 20px px; border-bottom: 1px solid #eee" colspan="2" align="right"><b>Delivery Fee</b></td>
                                <td style="height:30px; padding: 20px px; border-bottom: 1px solid #eee" align="right">{{delFee|intcomma}}</td>
                            </tr>

                            <tr style="height: 20px">
                                <td style="height:30px; padding: 20px px; " colspan="2" align="right"><b>Total</b></td>
                                <td style="height:30px; padding: 20px px;"  align="right">{{ total|intcomma }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px">
                    <p>
                        Warmest Regards,<br>
                        The Motion Talent Africa Store.
                    </p> 
                </td>
            </tr>
            
        </tbody>
    </table>    
</body>
</html>