<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<body style="width: 100%; margin: 0; padding: 0;background-color: #fff;">
    <table style="width: 600px; margin: 0 auto;  border: 1px solid #d4af37;">
        <tbody>
            <tr style="background-color: #fffdd0;">
                <th style="border-bottom: 1px solid #d4af37; padding: 20px 0px">
                    <img src="http://store.motiontalentafrica.co.ke/static/media/MTA.0336bcf8.svg" alt="">
                </th>
            </tr>
            <tr>
                <td style="padding: 20px">
                    
                    <h2 style="text-align: center">Password Reset on Motion Talent Africa Store</h2>
                    <p>
                        Dear {{first_name}},
                    </p>
                    <p>Use this link to reset your Password. {{reset_password_url}}</p>
                    <p>If you didn't request a password request just ignore this email.</p>
                </td>
            </tr>

            <tr>
                <td style="padding: 20px">
                    <p>
                        Warmest Regards,<br>
                        The Motion Talent Africa Team.
                    </p> 
                </td>
            </tr>
            
        </tbody>
    </table>    
</body>
</html>